/* dishes */

.dishTypesContainer {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  
    .dishTypeTag {
      padding: 10px 15px;
      margin: 5px;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
  
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
  
      &.selected {
        outline: none;
        color: #43927C;
        font-weight: 500;
        border-bottom: 2px solid ;
      }
    }
  }