.container
{
    display: flex;
    gap: 20px;

    .btn{
        padding: 10px 20px;
        border-radius: 15px;
        border: none;

        &:hover{
            cursor: pointer;
            outline: 1px solid #43927C;
        }

        &.active{
            outline: 1px solid#43927C;
            color: #43927C;
        }
    }
}