.suggestionsList {
    list-style: none;
    padding: 0;
    background: #eaede6;
    border-radius: 15px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    position: absolute;
    top: 50px;

    .suggestionItem {
      padding: 8px 12px;
      cursor: pointer;


      &:hover {
        background: #43927C;
      }
    }
  }