.container{
    width: 100%;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

}

.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    .ingredientRow{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .amount{
            width: 15%;
            display: flex;
            justify-content: space-between;
        }
    }
}