 /* input */

 .searchContainer{
    top: 100px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    .searchInput{
    
      height: 50px;
      border-radius: 25px;
      outline: none;
      border: 1px solid black;
      width: 300px;
      text-align: center;
      padding: 8px;
      width: 300px;
      margin: auto;
    }
    
    .tagsContainer {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
    }
    
    .tag {
      background-color: #ddd;
      margin: 5px;
      padding: 5px 10px;
      border-radius: 15px;
      cursor: pointer;
    }
    
    .removeTag {
      margin-left: 5px;
      color: red;
      font-weight: bold;
    }
    
  
  
    .suggestionsList {
      list-style: none;
      padding: 0;
      margin-top: 60px;
      position: absolute;
      background: white;
      border: 1px solid #ccc;
      width: 100%;
      max-height: 200px;
      overflow-y: auto;
      z-index: 10;
    }
    
    .suggestionItem {
      padding: 8px 12px;
      cursor: pointer;
      &:hover {
        background: #f0f0f0;
      }
    }
    
  }

  

  /* dishes */

  .dishTypesContainer{

    display: flex;
    flex-wrap: wrap;
    margin: auto;

    .dishTypeCard{
      border: 1px solid black;
      border-radius: 10px;
      padding: 10px 15px;
      margin: 5px;

      &:hover{
        cursor: pointer;
        outline: 2px solid #823939;
      }

      &.selected{
        background-color: #823939;
        color: white;
        outline: none;
      }
    }
  }